.map {
  width: 100%;
  height: 55%;
  border-bottom: solid black;
  position: absolute;
}
/* Optional: Makes the sample page fill the window. */
.form{
  height: 50%;
  width: 50%;
  position: relative;
}

.estimatesContainer{
  top: 55%;
  position: absolute;
  width: 100%;
}

.estimatesFlex{
  display: inline-flex;
  flex-direction: row;
}

.estimateText{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.estimates{
  position: relative;
  width: 100%;
  text-align: center;
}

.heading{
  text-align: center;
  top: 55%;
}

.subHeading{
  font-size: 17;
}

.walking{
  top: 70%;
}

.metro{
  top: 75%;
}
